<div class="opaque centerText">
  <h1>
    Deaths of Thrones
  </h1>

  <p class="centerText">
    Deaths of Thrones is a study project developed by Nikolai Stecker and Florian Völkers. <br>
    It was developed for the module "Relationale Datenbanken" of the bachelor degree course Media Systems at HAW Hamburg. <br><br>
    The goal was to develop a web application on basis of a database using MySQL.
    The database started out with a data-set of the <a href="https://data.world/aendrew/game-of-thrones-deaths" target="_blank">most important 100 deaths</a> in first 6 seasons of the TV-Show Game of Thrones.
    The developers added data about the murderers, locations and episodes surrounding those deaths manually from a <a href="gameofthrones.wikia.com" target="_blank">Game of Thrones Wiki.</a>
    <br><br>
    For the development of this Web Application the following development tools were used:
    <br>
  </p>
  <ul>
    <li>Angular: Typescript-based Frontend-Development Framework</li>
    <li>Chart.js: Library for Charts</li>
    <li>GitHub: Filehosting with Version Control</li>
    <li>MySQL: relational database management system</li>
    <li>PrimeNG: UI library for Angular</li>
    <li>Spring: Java Application Framework</li>
    <li>Spring Tool Suite: IDE for Spring Development</li>
    <li>Webstorm: IDE for Web Development</li>
  </ul>
</div>

