<div *ngIf="murderersLoaded && !showEntry">
  <ul class="listOverview">
    <li *ngFor="let entry of murderersSorted; let i = index" class="alphabet" >
      <b class="listHeader" *ngIf="entry.length > 0 && sortedBy == 'alphabet'">{{alphabet[i]}}</b>
      <b class="listHeader" *ngIf="entry.length > 0 && sortedBy == 'kills'">Has killed {{kills[i]}}</b>
      <b class="listHeader" *ngIf="entry.length > 0 && sortedBy == 'origin'">{{origins[i]}}</b>
      <ul>
        <li *ngFor="let value of entry" class="listEntry" (click)="displayEntry($event)">{{value}}</li>
      </ul>
    </li>
  </ul>
  <table class="sortByTable">
    <tr>
      <th>
        Sort by
      </th>
    </tr>
    <tr>
      <td (click)="sortMurdererByName()" [style.backgroundColor]="bgColorName">Name</td>
    </tr>
    <tr>
      <td (click)="sortMurdererByKills()" [style.backgroundColor]="bgColorKills">Kills</td>
    </tr>
    <tr>
      <td (click)="sortMurdererByOrigin()" [style.backgroundColor]="bgColorOrigin">Origin</td>
    </tr>
  </table>
</div>
<div *ngIf="showEntry">
  <app-display-entry [murdererData]="murdererData" [currentEntity]="'Murderers'" [nextEntry]="nextEntry" [previousEntry]="previousEntry"
                     [hasNextEntry]="hasNextEntry" [hasPreviousEntry]="hasPreviousEntry" (showDeathEntry)="callDeathEntry($event)"
                     (showPreviousEntry)="showPreviousEntry()" (showNextEntry)="showNextEntry()" (returnToList)="handleReturnFromEntry()"></app-display-entry>
</div>
