<div *ngIf="episodesLoaded && !showEntry">
  <ul class="listOverview">
    <li *ngFor="let entry of episodesSorted; let i = index" class="alphabet" >
      <b class="listHeader" *ngIf="entry.length > 0 && sortedBy == 'alphabet'">{{alphabet[i]}}</b>
      <b class="listHeader" *ngIf="entry.length > 0 && sortedBy == 'season'">Season {{seasons[i]}}</b>
      <b class="listHeader" *ngIf="entry.length > 0 && sortedBy == 'rating'">{{ratings[i]}}/10</b>
      <b class="listHeader" *ngIf="entry.length > 0 && sortedBy == 'viewer'">Less than {{viewers[i]/1000000}} Millions</b>
      <ul>
        <li *ngFor="let value of entry" class="listEntry" (click)="displayEntry($event)">{{value}}</li>
      </ul>
    </li>
  </ul>
  <table class="sortByTable">
    <tr>
      <th>
        Sort by
      </th>
    </tr>
    <tr>
      <td (click)="sortByName()" [style.backgroundColor]="bgColorName">Name</td>
    </tr>
    <tr>
      <td (click)="sortBySeason()" [style.backgroundColor]="bgColorSeason">Season</td>
    </tr>
    <tr>
      <td (click)="sortByRating()" [style.backgroundColor]="bgColorRating">Rating</td>
    </tr>
    <tr>
      <td (click)="sortByViewer()" [style.backgroundColor]="bgColorViewer">Viewer</td>
    </tr>
  </table>
</div>
<div *ngIf="showEntry">
  <app-display-entry [episodeData]="episodeData" [currentEntity]="'Episodes'" [nextEntry]="nextEntry" [previousEntry]="previousEntry"
                     [hasNextEntry]="hasNextEntry" [hasPreviousEntry]="hasPreviousEntry"
                     (showPreviousEntry)="showPreviousEntry()" (showNextEntry)="showNextEntry()" (returnToList)="handleReturnFromEntry()"></app-display-entry>
</div>
