<div *ngIf="deathsLoaded && !showEntry">
  <ul class="listOverview">
    <li *ngFor="let entry of deathsSorted; let i = index" class="alphabet" >
      <b *ngIf="entry.length > 0 && sortedByAlphabet">{{alphabet[i]}}</b>
      <b *ngIf="entry.length > 0 && !sortedByAlphabet" [title]="'Season ' + seasons[i]">S{{seasons[i]}}</b>
      <ul class="autoColumn">
        <li *ngFor="let value of entry" class="listEntry" (click)="displayEntry($event)">{{value}}</li>
      </ul>
    </li>
  </ul>
  <table class="sortByTable">
    <tr>
      <th>
        Sort by
      </th>
    </tr>
    <tr>
      <td (click)="sortByName()">Name</td>
    </tr>
    <tr>
      <td (click)="sortByEpisode()">Episode</td>
    </tr>
    <tr>
      <td (click)="sortByLocation()">Location</td>
    </tr>
  </table>
</div>
<div *ngIf="showEntry">
  <app-display-entry [deadData]="deadData" [currentEntity]="'Deaths'" [nextEntry]="nextEntry" [previousEntry]="previousEntry"
                     [hasNextEntry]="hasNextEntry" [hasPreviousEntry]="hasPreviousEntry"
                     (showMurdererEntry)="callMurdererEntry($event)" (showEpisodeEntry)="callEpisodeEntry($event)" (showLocationEntry)="callLocationEntry($event)"
                     (showPreviousEntry)="showPreviousEntry()" (showNextEntry)="showNextEntry()" (returnToList)="handleReturnFromEntry()"></app-display-entry>
</div>
