<ul class="navigation">
  <li class="navElement" id="leftElement">
    <button pButton type="button" icon="fa-chevron-left" iconPos="left" (click)="callPreviousEntry()"
            [style.visibility]="hasPreviousEntry ? 'visible' : 'hidden'" [label]="previousEntry" class="navButtons" id="left"></button>
  </li>
  <li class="navElement" id="centerElement">
    <button pButton type="button" [label]="'Return to ' + currentEntity" class="navButtons" id="return" (click)="callReturnToList()"></button>
  </li>
  <li class="navElement" id="rightElement">
    <button pButton type="button" icon="fa-chevron-right" iconPos="right" (click)="callNextEntry()"
            [style.visibility]="hasNextEntry ? 'visible' : 'hidden'" [label]="nextEntry" class="navButtons" id="right"></button>
  </li>
</ul>
<div *ngIf="deadData">
  <table class="entryTable">
    <td class="imageCol">
      <img class="deadsImage" [src]="deadData.image" >
    </td>
    <td class="tableCol">
      <table class="deadTable">
        <tr>
          <td class="type">Name:</td>
          <td class="data">{{deadData.name}}</td>
        </tr>
        <tr>
          <td class="type">Role:</td>
          <td class="data">{{deadData.role}}</td>
        </tr>
        <tr>
          <td class="type">Killed in:</td>
          <td class="data" class="clickable" (click)="callEpisodeEntry(deadData.episodeId)">Season {{deadData.season}}, Episode {{deadData.episode}}</td>
        </tr>
        <tr>
          <td class="type">Murderer:</td>
          <td class="data" class="clickable" (click)="callMurdererEntry(deadData.murder)">{{deadData.murder}}</td>
        </tr>
        <tr>
          <td class="type">Location:</td>
          <td class="data" class="clickable" (click)="callLocationEntry(deadData.place)">{{deadData.place}}</td>
        </tr>
        <tr>
          <td class="type">Description:</td>
          <td class="data">{{deadData.execution}}</td>
        </tr>
        <tr>
          <td class="type">Return Chance:</td>
          <td class="data">{{deadData.likelihoodofreturn}}</td>
        </tr>
      </table>
    </td>
  </table>
  <div id="myvideo" width="320" height="180"></div>

  <script async src="https://www.youtube.com/iframe_api"></script>
  <script>
    var player;
    var videoId='oGwjm6Ax24E';
    var startSeconds = 22;  // set your own video start time when loop play
    var endSeconds = 24;   // set your own video end time when loop play
    var playerConfig = {
      height: '250',
      width: '100%',
      videoId: videoId,
      playerVars: {
        autoplay: 1,            // Auto-play the video on load
        controls: 0,            // Show pause/play buttons in player
        showinfo: 0,            // Hide the video title
        modestbranding: 1,      // Hide the Youtube Logo
        fs: 1,                  // Hide the full screen button
        cc_load_policy: 0,      // Hide closed captions
        iv_load_policy: 3,      // Hide the Video Annotations
        start: startSeconds,
        end: endSeconds,
        autohide: 0, // Hide video controls when playing
      },
      events: {
        'onStateChange': onStateChange,       // reference to Iframe API
        onReady: function(e) {              // mute the video when loaded
          e.target.mute();
        }
      }
    };
    //excute the video in div
    function onYouTubePlayerAPIReady() {
      player = new YT.Player('myvideo', playerConfig);
    }
    //repload the video when onStateChange=YT.PlayerState.ENDED)
    function onStateChange(state) {
      if (state.data === YT.PlayerState.ENDED) {
        player.loadVideoById({
          videoId: videoId,
          startSeconds: startSeconds,
          endSeconds: endSeconds
        });
      }
    }
  </script>
</div>
<div *ngIf="murdererData" class="entry">
  <table class="entryTable">
    <td class="imageCol">
      <img class="deadsImage" [src]="murdererData.image" >
    </td>
    <td class="tableCol">
      <table class="deadTable">
        <tr>
          <td class="type">Name:</td>
          <td class="data">{{murdererData.name}}</td>
        </tr>
        <tr>
          <td class="type">Origin:</td>
          <td class="data">{{murdererData.origin}}</td>
        </tr>
        <tr>
          <td class="type">Following:</td>
          <td class="data">{{murdererData.following}}</td>
        </tr>
        <tr>
          <td class="type">Religion:</td>
          <td class="data">{{murdererData.religion}}</td>
        </tr>
        <tr>
          <td class="type">Kills:</td>
          <td class="data">{{murdererData.kills}}</td>
        </tr>
        <tr>
          <td class="type">Victims:</td>
        </tr>
      </table>
      <div class="centerChildren">
        <img *ngFor="let victim of murdererData.victims" [src]="environmentPath + 'image/imageByName?name=' + victim" [title]="victim" class="victimImage"
          (click)="callDeathEntry(victim)">
      </div>
    </td>
  </table>
</div>
<div *ngIf="locationData" class="entry">
  <table class="entryTable">
    <td class="imageCol">
      <img class="deadsImage" [src]="locationData.image" >
    </td>
    <td class="tableCol">
      <table class="deadTable">
        <tr>
          <td class="type">Name:</td>
          <td class="data">{{locationData.name}}</td>
        </tr>
        <tr>
          <td class="type">Continent:</td>
          <td class="data">{{locationData.continent}}</td>
        </tr>
        <tr>
          <td class="type">Region:</td>
          <td class="data">{{locationData.region}}</td>
        </tr>
        <tr>
          <td class="type">Population:</td>
          <td class="data">{{locationData.population}}</td>
        </tr>
        <tr>
          <td class="type">Inhabitants:</td>
          <td class="data">{{locationData.inhabitant}}</td>
        </tr>
        <tr>
          <td class="type">Religion:</td>
          <td class="data">{{locationData.religion}}</td>
        </tr>
      </table>
    </td>
  </table>
</div>
<div *ngIf="episodeData" class="entry">
  <table class="entryTable">
    <td class="imageCol">
      <!--<img class="deadsImage" [src]="episodeData.image">-->
    </td>
    <td class="tableCol">
      <table class="deadTable">
        <tr>
          <td class="type">Name:</td>
          <td class="data">{{episodeData.title}}</td>
        </tr>
        <tr>
          <td class="type">Episode:</td>
          <td class="data">Season {{episodeData.season}}, Episode {{episodeData.numberInSeason}}</td>
        </tr>
        <tr>
          <td class="type">Directed by:</td>
          <td class="data">{{episodeData.directedBy}}</td>
        </tr>
        <tr>
          <td class="type">Written by:</td>
          <td class="data">{{episodeData.writtenBy}}</td>
        </tr>
        <tr>
          <td class="type">Original Air Data:</td>
          <td class="data">{{episodeData.originalAirDate}}</td>
        </tr>
        <tr>
          <td class="type">Viewers:</td>
          <td class="data">{{episodeData.viewers}}</td>
        </tr>
        <tr>
          <td class="type">IMDB-Rating:</td>
          <td class="data">{{episodeData.imdbRating}}</td>
        </tr>
      </table>
    </td>
  </table>
</div>


