/* You can add global styles to this file, and also import other style files */
body {
  background-color: #15191a;
  margin: 0;
  color: #969070;
  font-size: large;
}

.wiki-header {
  opacity: 0.6;
  background-color: #15191a!important;
}

.wiki-header .ui-corner-all {
  border: none!important;
  border-radius: 0;
  background-color: #969070!important;
}

.ui-button .ui-corner-all {
  background-color: transparent!important;
}

.ui-tabview {
  padding: 0!important;
}

.ui-tabview-title {
  color: #15191a;
}

.ui-state-active .ui-tabview-title {
  color: #969070!important;
}

.wiki-panel {
  background-color: #969070!important;
  border: none;
  border-radius: 0;
}

.ui-tabview.ui-tabview-top>.ui-tabview-nav li {
  border: none;
}

.wiki-panel.ui-tabview-selected {
  background-color: #15191a!important;
}

.wiki-panel .ui-tabview-nav {
  color: #969070!important;
}

.listOverview {
  width: 80%;
  column-width: 150px;
  column-count: 4;
  column-fill: auto;
  height: 100%;
  list-style: none;
  color: #969070!important;
}

.alphabet {
  font-size: x-large;
}

.listEntry {
  list-style: none;
  font-size: large;
  cursor: pointer;
}

.listEntry:hover {
  color: #96641a;
}

.sortByTable {
  position: absolute;
  top: 120px;
  left: 85%;
  color: #969070;
  font-size: x-large;
  border: 3px solid #969070;
}

.sortByTable td {
  text-align: center;
  background-color: #969070;
  color: #15191a;
  padding: 5px;
  cursor: pointer;
}

.sortByTable td:hover {
  color: beige;
}

.listHeader {
  color: #96641a;
  margin: 5px;
  font-size: large;
}

body .ui-dropdown {
  border: 3px solid #969070;
  opacity: 0.6;
  width: 100%!important;
}

body .ui-dropdown .ui-dropdown-trigger {
  background-color: #15191a;
  color: #969070;
  border-left: 3px solid #969070;

}

body .ui-dropdown .ui-dropdown-label{
  background-color: #15191a;
  color: #969070;
  border-radius: 0;
}

body .ui-dropdown .ui-dropdown-panel {
  background-color: #15191a;
  color: #969070;
  border: 3px solid #969070;
}

body .ui-dropdown .ui-dropdown-items {
  background-color: #15191a;
  color: #969070;
  border-radius: 0;
}

body .ui-state-highlight {
  background: #969070;
  color: #15191a;
}

.chartjs-render-monitor {
  opacity: 0.6;
}







