/* You can add global styles to this file, and also import other style files */
body {
  background-color: #15191a;
  margin: 0;
  color: #969070;
  font-size: large;
}

.wiki-header {
  opacity: 0.6;
  background-color: #15191a!important;
}

.wiki-header .ui-corner-all {
  border: none!important;
  border-radius: 0;
  background-color: #969070!important;
}

.ui-tabview {
  padding: 0!important;
}

.ui-tabview-title {
  color: #15191a;
}

.ui-state-active .ui-tabview-title {
  color: #969070!important;
}

.wiki-panel {
  background-color: #969070!important;
  border: none;
  border-radius: 0;
}

.ui-tabview.ui-tabview-top>.ui-tabview-nav li {
  border: none;
}

.wiki-panel.ui-tabview-selected {
  background-color: #15191a!important;
}

.wiki-panel .ui-tabview-nav {
  color: #969070!important;
}






