/* You can add global styles to this file, and also import other style files */
body {
  background-color: #15191a;
  margin: 0;
  color: #969070;
  font-size: large;
}

.wiki-header {

}

.wiki-header .ui-tabview {
  background-color: #969070!important;
}

.wiki-panel {
  background-color: #15191a!important;
  color: #969070!important;
}

.ui-state-default .ui-corner-top .wiki-panel .ui-tabview-selected .ui-state-active {
  background-color: #969070!important;
}




