<p-tabView styleClass="wiki-header">
  <p-tabPanel header="DEATHS" [selected]="true" headerStyleClass="wiki-panel">
    <div *ngIf="dataLoaded">
      <ul class="listOverview">
        <li *ngFor="let entry of deathsByAlphabet; let i = index" id="alphabet" >
          <b *ngIf="entry.length > 0">{{alphabet[i]}}</b>
          <ul>
            <li *ngFor="let value of entry" id="listEntry">{{value}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </p-tabPanel>
  <p-tabPanel header="MURDERER" headerStyleClass="wiki-panel">
  </p-tabPanel>
  <p-tabPanel header="LOCATIONS" headerStyleClass="wiki-panel">
  </p-tabPanel>
  <p-tabPanel header="EPISODES" headerStyleClass="wiki-panel">
  </p-tabPanel>
</p-tabView>



