<p-tabView styleClass="wiki-header">
  <p-tabPanel header="DEATHS" [selected]="true" headerStyleClass="wiki-panel">
    <div *ngIf="deathsLoaded">
      <ul class="listOverview">
        <li *ngFor="let entry of deathsByAlphabet; let i = index" class="alphabet" >
          <b *ngIf="entry.length > 0">{{alphabet[i]}}</b>
          <ul>
            <li *ngFor="let value of entry" class="listEntry">{{value}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </p-tabPanel>
  <p-tabPanel header="MURDERERS" headerStyleClass="wiki-panel">
    <div *ngIf="murderersLoaded">
      <ul class="listOverview">
        <li *ngFor="let entry of murderersByAlphabet; let i = index" class="alphabet" >
          <b *ngIf="entry.length > 0">{{alphabet[i]}}</b>
          <ul>
            <li *ngFor="let value of entry" class="listEntry">{{value}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </p-tabPanel>
  <p-tabPanel header="LOCATIONS" headerStyleClass="wiki-panel">
    <div *ngIf="locationsLoaded">
      <ul class="listOverview">
        <li *ngFor="let entry of locationsByAlphabet; let i = index" class="alphabet" >
          <b *ngIf="entry.length > 0">{{alphabet[i]}}</b>
          <ul>
            <li *ngFor="let value of entry" class="listEntry">{{value}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </p-tabPanel>
  <p-tabPanel header="EPISODES" headerStyleClass="wiki-panel">
    <div *ngIf="episodesLoaded">
      <ul class="listOverview">
        <li *ngFor="let entry of episodesByAlphabet; let i = index" class="alphabet" >
          <b *ngIf="entry.length > 0">{{alphabet[i]}}</b>
          <ul>
            <li *ngFor="let value of entry" class="listEntry">{{value}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </p-tabPanel>
</p-tabView>



