#mapContainer{
  box-sizing: border-box;
  width:99.9%;
  height: 100vh;
  overflow:hidden;
  position: relative;
  border: 1px solid black;
}

#imageContainer {
  position: absolute;
  top: 0px;
  left: 0px;
}

#map {
  -webkit-user-drag: none;
}

#deathlist {
  pointer-events: none;
  color: #760302;
  position: absolute;
  top: 50%;
  left: 50%;
}

#timeline {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#deadPopup {
  position: absolute;
  top: 30%;
  left: 5%;
  min-width: 18%;
  min-height: 22%;
  opacity: 0.7;
  color: black;
  font-weight: bold;
  background-color: white;
  border-radius: 25px;
  border: 3px solid #760302;
  padding-left: 10px;
  padding-right: 10px;
}

#episodePopup {
  position: absolute;
  top: 60%;
  left: 5%;
  min-width: 18%;
  min-height: 22%;
  opacity: 0.7;
  color: black;
  font-weight: bold;
  background-color: white;
  border-radius: 25px;
  border: 3px solid #760302;
  padding-left: 10px;
  padding-right: 10px;
}

#deadsImage {
  border-radius: 25px;
  position: absolute;
  top: 150px;
  left: 150px;
  overflow: hidden;
  border: 3px solid #760302;
  margin: 5px;
}
