<div id="mapContainer" tabindex="1" (keydown)="myKeyEvent($event)" (mousemove)="onMouseMove($event)" appMousewheel="">
  <div >
    <img [style.transform]="scaling" id="map" [src]="imageSource" [style.left.px]="positionX" [style.top.px]="positionY"
         (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)"/>
    <img *ngFor="let deadImage of imagesOfTheDead" id="deadsImage" [name]="deadImage.name" [src]="deadImage.image" [style.top.px]="deadImage.top" [style.left.px]="deadImage.left" (click)="openDeadPopup($event)">
  </div>
   <div id="timeline">
    <app-timeline (episodeSelected)="episodeSelected($event)"></app-timeline>
  </div>
  <div *ngIf="showDeadPopup" id="deadPopup">
    <app-dead-popup [data]="deadData" (popupClosed)="deadPopupClosed()"></app-dead-popup>
  </div>
  <div *ngIf="showEpisode" id="episodePopup">
    <app-episode-popup [data]="episodeData" (popupClosed)="popupClosed()"></app-episode-popup>
  </div>
</div>


