body {
  color: #969070;
  font-size: larger;
}

#deadsImage {
  max-width: 300px;
  max-height: 450px;
  position: absolute;
  top: 150px;
  left: 150px;
  overflow: hidden;
  border: 5px solid #969070;
}

#deadTable {
  max-width: 900px;
  height: 450px;
  position: absolute;
  top: 150px;
  left: 600px;
  color: #969070;
  font-size: larger;
  border: none;
}

.type {
  width: 35%;
  text-align: left;
}

.data {
}
