<div *ngIf="data">
  <img id="deadsImage" [src]="data.image" >
  <table id="deadTable">
    <tr>
      <td class="type">Name:</td>
      <td class="data">{{data.name}}</td>
    </tr>
    <tr>
      <td class="type">Role:</td>
      <td class="data">{{data.role}}</td>
    </tr>
    <tr>
      <td class="type">Killed in:</td>
      <td class="data">Season {{data.season}}, Episode {{data.episode}}</td>
    </tr>
    <tr>
      <td class="type">Killed by:</td>
      <td class="data">{{data.murder}}</td>
    </tr>
    <tr>
      <td class="type">Killed in:</td>
      <td class="data">{{data.place}}</td>
    </tr>
    <tr>
      <td class="type">Description:</td>
      <td class="data">{{data.execution}}</td>
    </tr>
    <tr>
      <td class="type">Return Chance:</td>
      <td class="data">{{data.likelihoodofreturn}}</td>
    </tr>
  </table>
</div>

